/* .fan-toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.rotating-fan {
    animation: spin 2s linear infinite;
    color: #6870fa;
}

.toggle-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #6870fa;
    color: white;
    border-radius: 5px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bulb-icon {
    font-size: 100px;
    color: #555;
    /* Màu khi bóng đèn tắt */
    transition: color 0.4s, text-shadow 0.4s;
    margin-bottom: 20px;
}

.bulb-on {
    color: #ffeb3b;
    /* Màu khi bóng đèn bật */
    text-shadow: 0 0 30px rgba(255, 235, 59, 0.7);
    /* Hiệu ứng phát sáng */
}

/* Slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #6870fa;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.bulb-icon {
    transition: color 0.5s ease;
}
  
  .bulb-on {
    color: yellow;
  }
  
  .bulb-off {
    color: gray;
  }
  
  .blinking {
    animation: blink-red 1s step-start 0s infinite;
    animation-duration: 5s; /* Nhấp nháy trong 5 giây */
    animation-iteration-count: infinite;
  }
  
  @keyframes blink-red {
    0% {
      color: rgb(223, 124, 124);
    }
    50% {
      color: red;
    }
    100% {
      color: rgb(211, 99, 99);
    }
  }
  
